body{
	background-color: #111;
}

section.landing div.introText{
	position: relative;
	top: 50%;
}

section.landing h1{
	font-family: 'hero_lightlight';
	font-size: 76px;
	color: #FFF;
	text-align: left;
}

section.landing h1 strong{
	font-family: 'heroregular';
	color: #ffa500;	
	font-weight: bolder;
}

section.landing h2{
	font-family: 'hero_lightlight';
	font-size: 31px;
	text-align: left;
	color: #FFF;
	margin: 22px 0 0 0;
	width: 500px;
	line-height: 35px;
}

div.nextButton{
	position: absolute;
	top: 50%;
	margin: -103px 0 0 0;
	right: 100px;
}

section.tour div.nextButton{
	position: absolute;
	opacity: 0;
	top: 50%;
	margin: -103px 0 0 0;
	right: 100px;
	pointer-events: all;
}

section.landing div.text{
	font-family: 'hero_lightlight';
	font-size: 25px;
	text-align: left;
	color: #FFF;
	margin: 22px 0 0 0;
	width: 500px;
	line-height: 35px;
}

.agenda{
	text-align: left;
	width: 1500px;
}

section.landing div.image{
	max-width:100%;
	max-height:100%;
}

div.nextButton a{
	display: block;
	width: 207px;
	height: 206px;
	background: url(../img/nextButton.png) 0 0 no-repeat;
	pointer-events: all
}

div.nextButton a:hover{
	background: url(../img/nextButton.png) 0 -206px no-repeat;
}
